.ul {
  position: fixed;
  width: 100%;
  top: 6rem;
  list-style: none;
  display: flex;
  align-items: center;
  background: #aeaaaa;
  z-index: 5;
  padding-bottom: 1rem;
}

.li {
  font-size: 1.2rem;
  font-weight: 700;
  color: rgb(58, 78, 96);
}

.highlightedTab {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 1rem;
}

.tabDiv {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
