.body {
  font-weight: 500;
}

.div {
  margin: 0.25rem 0rem;
}

.label {
  font-weight: 700;
}

.indentDiv {
  margin: 0rem 1rem;
}

.ellipseDiv {
  width: 100%;
  display: flex;
  justify-content: center;
}

.pieceDiv {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
